name: Pre-Commit Checks

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python version to use'
        required: false
        type: string
        default: '3.12.3'
      terraform-version:
        description: 'Terraform version to use'
        required: false
        type: string
        default: '1.11.2'
      tflint-version:
        description: 'TFLint version to use'
        required: false
        type: string
        default: 'latest'
      trivy-version:
        description: 'Trivy version to use'
        required: false
        type: string
        default: 'latest'
      skip-hooks:
        description: 'Comma-separated list of hooks to skip'
        required: false
        type: string
        default: 'conventional-branch-name'

permissions:
  contents: read

env:
  TERRAFORM_DOCS_VERSION: v0.21.0
  TERRAFORM_DOCS_SHA256: 2fdd81b8d21ff1498cd559af0dcc5d155835f84600db06d3923e217124fc735a

jobs:
  pre-commit:
    name: Pre-Commit Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ inputs.terraform-version }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        with:
          tflint_version: ${{ inputs.tflint-version }}

      - name: Setup Trivy
        uses: aquasecurity/setup-trivy@e6c2c5e321ed9123bda567646e2f96565e34abe1 # v0.2.4
        with:
          version: ${{ inputs.trivy-version }}

      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit

      - name: Install terraform-docs
        working-directory: ${{ runner.temp }}
        run: |
          curl -sSLo "terraform-docs-${{ env.TERRAFORM_DOCS_VERSION }}-linux-amd64.tar.gz" "https://github.com/terraform-docs/terraform-docs/releases/download/${{ env.TERRAFORM_DOCS_VERSION }}/terraform-docs-${{ env.TERRAFORM_DOCS_VERSION }}-linux-amd64.tar.gz"
          echo "${{ env.TERRAFORM_DOCS_SHA256 }}  terraform-docs-${{ env.TERRAFORM_DOCS_VERSION }}-linux-amd64.tar.gz" | sha256sum -c -
          tar -xzf "terraform-docs-${{ env.TERRAFORM_DOCS_VERSION }}-linux-amd64.tar.gz"
          chmod +x terraform-docs
          mv terraform-docs /usr/local/bin/terraform-docs

      - name: Initialize Terraform
        run: |
          # Find all directories with .tf files and init them
          find . -type f -name "*.tf" -not -path "*/.terraform/*" -exec dirname {} \; | sort -u | while read dir; do
            echo "Initializing $dir"
            (cd "$dir" && terraform init -backend=false)
          done

      - name: Run pre-commit
        run: |
          SKIP=${{ inputs.skip-hooks }} pre-commit run --all-files
